In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
tips = sns.load_dataset('tips')
%matplotlib inline

In [12]:
df = pd.read_csv('../../zippedData/tn.movie_budgets.csv.gz')

In [20]:
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [21]:
import numpy as np
import re

def currency_parser(cur_str):
    # Remove any non-numerical characters
    # except for ',' '.' or '-' (e.g. EUR)
    cur_str = re.sub("[^-0-9.,]", '', cur_str)
    # Remove any 000s separators (either , or .)
    cur_str = re.sub("[.,]", '', cur_str[:-3]) + cur_str[-3:]

    if '.' in list(cur_str[-3:]):
        num = float(cur_str)
    elif ',' in list(cur_str[-3:]):
        num = float(cur_str.replace(',', '.'))
    else:
        num = float(cur_str)

    return np.round(num, 2)

In [23]:
currency_parser('worldwide_gross')
currency_parser('production_budget')

ValueError: could not convert string to float: ''

In [22]:
profit = df['worldwide_gross'][0] - df['production_budget'][0]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [4]:
df['genre'].value_counts()

Drama                                                                            151
Comedy                                                                           110
Comedy|Drama                                                                      80
Drama|Mystery and Suspense                                                        67
Art House and International|Drama                                                 62
                                                                                ...
Kids and Family                                                                    1
Action and Adventure|Art House and International|Drama|Faith and Spirituality      1
Action and Adventure|Drama|Special Interest                                        1
Comedy|Kids and Family|Television                                                  1
Animation|Art House and International|Comedy|Special Interest                      1
Name: genre, Length: 299, dtype: int64

In [5]:
len(df['genre'].value_counts())

299

In [7]:
len(df['genre'].unique())

300